header {
  background-color: pink;
  padding: 20px 0;
}
/* !important will override everthing */
.class {
 color: pink !important;
}

/* inline styles */

 #id.class {
   color: aqua;
 }

 h1#id {
  color: black;
}

 #id {
  color: red;
}

 h1.class {
  color: green;
}

 .class {
  color: blue;
}

h1 {
  color: purple;
}
