.site-header {
    background-color: pink;
    padding: 20px 0;
}

.create-space {
    padding: 50px;
}

/*********** cards  ********/
.bkgd-c-flex-container {
    display: flex;    
    justify-content: space-between;   
    align-items: flex-start;
}
#hero-background-cover {
    width: 1200px;
    max-width: 80%;
    margin: 0 auto; 
} 
.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;  
    border-radius: 20px; 
    border: 1px solid rgba(0,0,0,0.2); 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);  
}
.card-text {
    padding: 0 10px;
}
.card h2,h3 {
    margin-bottom: 3px;
}
.background-cover-image {
    background: url("../img/stock.jpeg");
    height: 200px;
    background-size: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}