.site-header {
    background-color: pink;
    padding: 20px 0;
    text-align: center;
}
.site-header nav ul li {
    list-style: none;
}

.create-space {
    padding: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto; 
}

.link-hover a:hover {
    color: cornflowerblue;
    
}