.heading {
    color: darkblue;
    font-size: 15px;
    transition: all 0.5s; /* what and how long */
/*  transition: color 0.5s, font-size 1s; */
}
.heading:hover {
    color: aqua;
    font-size: 25px;
}

.heading-2 {
    color: darkblue;
    font-size: 15px;
    transition: all 0.5s ease-in 1s; /* nice for browser compatibility */
/* Or   transition-property: all;
        transition-duration: 0.5s;
        transition-delay: 1s;
        transition-timing-function: ease-in; */
}

.heading-2:hover {
    color: red;
    font-size: 25px;
}

/* Animation box */
.flex-container-1 {
  display: flex;
  flex-flow: row-wrap;
}
p {
  margin: 5px;
}
.spacer {
  margin: 20px;
}
.box-1 {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: grow;
    animation-duration: 2s;
}
@keyframes grow {
    from {width: 50px; height: 50px; background: red;}
    to {width: 50px; height: 100px; background: green;}
}

.box-2 {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: grow-2;
    animation-duration: 2s;
}
@keyframes grow-2 {
    0% {width: 50px; height: 50px; background: red;}
    50% {width: 100px; height: 50px; background: blue;}
    100% {width: 50px; height: 100px; background: green;}
}

.box-3 {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: grow-3;
    animation-duration: 2s;
}
@keyframes grow-3 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-4 {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: grow-4;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 3;
}
@keyframes grow-4 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-5 {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: grow-5;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes grow-5 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-6 {
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: first-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 4;
}
@keyframes first-animation {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-7 {
    width: 100px;
    height: 100px;
    background: blue;
    border: 1px solid black;
    animation-name: grow-7;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 4;

    animation-timing-function: ease;
    animation-direction: alternate-reverse; /* normal, reverse, alternate */
}
@keyframes grow-7 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-8 {
    width: 100px;
    height: 100px;
    background: blue;
    border: 1px solid black;
    animation-name: grow-8;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 4;

    animation-timing-function: ease; /* ease-in, ease-out */
    animation-direction: alternate-reverse;
    animation-fill-mode: both; /* forwards, backwards */
}
@keyframes grow-8 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-9 {
    width: 100px;
    height: 100px;
    background: blue;
    border: 1px solid black;
/*    animation-name: grow-9;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: 1s;
      animation-iteration-count: 4;
      animation-direction: alternate; */ /* all in animation property */
    animation-fill-mode: both;

    animation: grow 1s ease-in 1s 4 alternate;
    /* name, duration, timing-function, delay, iteration-count */
}
@keyframes grow-9 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-10 {
    width: 100px;
    height: 100px;
    background: blue;
    border: 1px solid black;
    animation: grow-10 1s ease 0s infinite alternate;
    /* no fill-mode because it runs forever */
}
@keyframes grow-10 {
    from {width: 100px; height: 100px; background: blue;}
    to {width: 10px; height: 10px; background: red;}
}

.box-11 {
    width: 10px;
    height: 10px;
    background: blue;
    border: 1px solid black;
    animation: supersize 2s ease-out 0s 4 alternate;
    animation-fill-mode: both;
}
@keyframes supersize {
    0% {width: 10px; height: 10px; background: blue;}
    50% {width: 20px; height: 20px; background: red;}
    100% {width: 50px; height: 50px; background: green;}
}

body {
	margin: 0;
}

.image-wrapper {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("../main.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
    animation-name: expand-fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
.title {
	font-size: 4em;
	text-transform: uppercase;
	margin: 0;
	font-family: Sen;
	text-transform: uppercase;
	text-align: center;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes expand-fade-in {
    from {opacity: 0%; width: 0%;}
    to {opacity: 100%; width: 100%;}
}
@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
