.site-header {
    background-color: pink;
    padding: 20px 0;
}
.flex-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.af-af-imgs img  {
    width: 200px;
    height: auto;   
}

.grid-imgs img {
    width: 200px;
    height: auto;  
}
